<nav class="navbar navbar-expand-lg sticky-top py-1 navbar-dark bg-dark">
<!-- <nav class="navbar  sticky-top  navbar-inverse"> -->
  <div class="container">
   


    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Portfolio <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#analytiikka">Analytiikka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ohjelmistokehitys">Ohjelmistokehitys</a>
          </li>
     </ul>
    </div>
  </div>
</nav>

