.jumbotron {
  background: rgb(193, 166, 236);
  background: #a371f3;
  color: white;
  padding-bottom: 20px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #dfd6ec;
    max-width: 75%;
    margin: 1em auto 2em; }

  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: rgb(197, 168, 231);
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: auto;
    /* border: 2px solid white; */}

    .jumbotron .lang-logo img {
      max-width: 100%; }

      section:before {
        height: 54px;
        content: "";
        display:block;
    }

    div#ohjelmistokehitys:before, div#analytiikka:before {
      height: 54px;
      content: "";
      display:block;      
    }

    .web {
      border-radius: 15px;
      padding: 20px;
      background-color: #745bad;
    }

    .card {
      background-color: #fff;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
  }
  .list-group-item {
    background-color: #dac6fc;
  }


  .cardSet1 {
    background-color: #dac6fc;
  }

/* Equal Card heights */
  .row.equal-height {
    display: flex;
    flex-wrap: wrap;
}
.row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.card {
    flex: 1;
}


/* Card link color */
a.card-link {
    color: #3506dd;
    text-decoration: none;
    background-color: transparent;
}

/* footer */
.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
  color: #ffffff;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: .22s ease;
}
    