<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <a class="anchor" id="top"></a>
  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/pic.jpg" />
      </a>
      <h1>Paula Leinonen</h1>
      <p>Full-Stack Web-kehittäjä</p>
    </div>
  </div>
  <hr/>
  <div class="container">
      <div class="row">
   
    <!-- Portfolio -->
     <div class="col-md-12">
        <section id="projects">
            <h3>Portfolio</h3>
            <p>Olen koonnut tänne viimeisimpiä Web-ohjelmistokehitykseen liittyviä töitäni sekä 
              <a href="https://powerbi.microsoft.com/en-us/">Power BI</a> -raportteja.
            </p>
            <p>Raportti käyttää tilastokeskuksen avointa dataa.</p>
          </section>      
        </div>
    </div>
    <div class="row">
      <div id="web" class="col-md-12">
        
                  <h3>Web-ohjelmistokehitys</h3>
                 <!-- <ul>
                    <li>Portfolio-sivustoni (tämä kotisivu):  <a href="http://paulaleinonen.herokuapp.com/">Demo</a></li>
          
                   
                  </ul> -->

                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Portfolio-sivusto</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <p class="card-text">Portfolio-sivustoni (tämä kotisivu)</p>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">html5, Bootstrap, css</li>
                        </ul>
                      <div class="card-body">
                        <a href="http://paulaleinonen.herokuapp.com/" class="card-link">Demo</a>
                        <a href="https://github.com/pmlein/homepage-simple" class="card-link">Github</a>
                      </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Kalenteritapahtumien muodostaminen</h5>
                          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                          <p class="card-text">Muunnos etsii ja muodostaa excel-tiedostossa olevasta "lukujärjestyksestä"
                            standardin ICalendar-formaatin mukaiset tapahtumat, jotka voidaan viedä haluttuun kalenteriohjelmaan.
                          </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">html5, Bootstrap, css</li>
                          </ul>
                        <div class="card-body">
                          <a href="http://paulaleinonen.herokuapp.com/" class="card-link">Demo</a>
                          <a href="https://github.com/pmlein/homepage-simple" class="card-link">Github</a>
                        </div>
                      </div>              
            </div>
        
      <div class="col-md-6">
        <h3>Business Intelligence -raportteja</h3>
        <ul>
          <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
          <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
          <ul>
            <li><code>git clone https://github.com/heroku/node-js-
              
            </code> - this will create a local copy of the source code for the app</li>
            <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
            <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
            <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
          </ul>
        </ul>
        <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
        <ul>
          <li><a href="https://www.heroku.com/home">Heroku</a></li>
          <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
          <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
          <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
        </ul>
      </div>
    </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div>
  </div>

</body>
</html>
