<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <a class="anchor" id="top"></a>
  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/pic.jpg" />
      </a>
      <h1>Paula Leinonen</h1>
      <p>Full-Stack Web-kehittäjä</p>
    </div>
  </div>
  <hr/>
  <div class="container">
      <div class="row">
   
          <!-- Portfolio -->
          <div class="col-md-12">
              <section id="projects">
                  <h3>Portfolio</h3>
                  <p>Olen koonnut portfoliooni viimeisimpiä 
                    <a href="https://powerbi.microsoft.com/en-us/">Power BI</a> ja 
                    <a href="https://datastudio.google.com/en-us/">Google Data Studio</a> -raportteja sekä 
                    Web-ohjelmistokehitykseen liittyviä töitäni.
                  </p>
                
                </section>      
              </div>
          </div>

   <!-- BI-raportit -->  
          <div class="container col-sm-12" id="analytiikka">
            <div class="row web mb-5"> 
              <h3 class="text-white">Analytiikka</h3>
      
                <div class="container mt-5 justify-content-center">
                  <div class="card-deck ">
      
                    <div class="row equal-height">
                      <div class="col-12 col-md-6">
                        <div class="card cardSet1" style="width:20rem;" >
                          <img class="card-img-top" src="/img/Vaesto.JPG" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title mt-2">Väestönkehitys Suomessa</h5>                  
                            <p class="card-text mt-3">Raportti käyttää tilastokeskuksen Suomessa asuvan 
                                väestön rakennetta kuvaavaa avointa dataa.
                            </p>
                          </div>               
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><code>Power BI, avoin data</code></li>
                            </ul>
                            
                          <div class="card-body">
                                <a href="http://paulaleinonen.herokuapp.com/vaestonkehitysPub.pdf" class="card-link">Pdf</a>
                                <a href="https://github.com/pmlein/bi-portfolio" class="card-link">Github</a>
                          </div>                   
                        </div>
                      </div>
                    </div>
      
                    <div class="row equal-height">
                        <div class="col-12 col-md-6">
                          <div class="card cardSet1" style="width:20rem;" >
                            <img class="card-img-top" src="/img/InternetSales.JPG" alt="Internetmyynnit">
                            <div class="card-body">
                              <h5 class="card-title mt-2">Internet-myynnit</h5>                  
                              <p class="card-text mt-3">Demodatalla toteutetussa laajassa myyntiraporttissa analysoin verkkomyynnin ja 
                                jälleenmyynnin kehitystä, myyntikampanjoiden vaikutusta myyntiin, etsin erilaisia asiakassegmenttejä sekä anamysoin tuottoa 
                                asiakkaittain ja myyjittäin.
                              </p>
                            </div>               
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item"><code>Power BI</code></li>
                              </ul>
                              
                            <div class="card-body">
                                  <a href="http://paulaleinonen.herokuapp.com/demoDataReport.pdf" class="card-link">Pdf</a>
                                  <a href="https://github.com/pmlein/bi-portfolio" class="card-link">Github</a>
                            </div>                   
                          </div>
                        </div>
                      </div>
        
                      <div class="row equal-height">
                          <div class="col-12 col-md-6">
                            <div class="card cardSet1" style="width:20rem;" >
                              <img class="card-img-top" src="/img/TotalSales.JPG" alt="Myyntiraportti">
                              <div class="card-body">
                                <h5 class="card-title mt-2">Myyntiraportti</h5>                  
                                <p class="card-text mt-3">Myyntiraportti kuvailee kokonaismyyntiä, myyntiä asiakkaittain, myyjittäin ja 
                                  tuoteryhmittäin.
                                </p>
                              </div>               
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item"><code>Power BI</code></li>
                                </ul>
                                
                              <div class="card-body">
                                    <a href="http://paulaleinonen.herokuapp.com/SalesReport.pdf" class="card-link">Pdf</a>
                                    <a href="https://github.com/pmlein/bi-portfolio" class="card-link">Github</a>
                              </div>                   
                            </div>
                          </div>
                        </div>         
                            
                        <div class="row equal-height">
                            <div class="col-12 col-md-6">
                              <div class="card cardSet1" style="width:20rem;" >
                                <img class="card-img-top" src="/img/GDS-main-view.JPG" alt="Google Merchandise Store">
                                <div class="card-body">
                                  <h5 class="card-title mt-2">Google Analytics Demo</h5>                  
                                  <p class="card-text mt-3">Raportti kuvaa Google Analytics palvelun Google Merchandise Storen
                                    kävijöistä tuottamaa dataa.
                                  </p>
                                </div>               
                                  <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><code>Google Data Studio</code></li>
                                  </ul>
                                  
                                <div class="card-body">
                                      <a href="http://paulaleinonen.herokuapp.com/img/GDS-main-view.JPG" class="card-link">Jpg-kuva</a>
                                      <a href="https://github.com/pmlein/bi-portfolio" class="card-link">Github</a>
                                </div>                   
                              </div>
                            </div>
                          </div>                       
                                  
      
                   </div> <!-- card-deck -->
      
               </div>  <!-- container -->             
            </div> <!-- row -->
          </div> <!-- container -->


        <!-- Ohjelmistokehitys -->
          <div class="container col-sm-12" id="ohjelmistokehitys">
            <div class="row web mb-5"> 
            <h3 class="text-white">Ohjelmistokehitys</h3>
          
              <div class="container mt-5 justify-content-center">
                <div class="card-deck ">
                  
                  <div class="row equal-height">
                  <div class="col-12 col-md-6">
                  <div class="card cardSet1" style="width:20rem;" >
                    <img class="card-img-top" src="/img/portfolio.JPG" alt="Card image cap">
                    <div class="card-body">
            
                      <h5 class="card-title mt-2">Portfolio-sivusto</h5>
                      <p class="card-text mt-3">Portfolio-sivustoni (tämä kotisivu), jonne lisään uusimpia 
                        Business Intelligence - ja
                        ohjelmistokehitysprojektejani.
                      </p>
                    </div>
                    
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><code>html5, Bootstrap, css</code></li>
                      </ul>
                          
                            <div class="card-body">
                              <a href="http://paulaleinonen.herokuapp.com/" class="card-link">Demo</a>
                              <a href="https://github.com/pmlein/homepage-simple" class="card-link">Github</a>
                            </div>                   
                      </div>
                    </div>
                  </div>
                        

                  <div class="row equal-height ">
                      <div class="col-12 col-md-6">
                          <div class="card cardSet1" style="width: 20rem;">
                              <img class="card-img-top" src="/img/converter.JPG" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Kalenteritapahtumien muodostaminen</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                <p class="card-text">Muunnos poimii (SQL) ja muodostaa excel-tiedostossa olevasta "lukujärjestyksestä"
                                  standardin ICalendar-formaatin mukaiset tapahtumat, jotka voidaan viedä haluttuun kalenteriohjelmaan.
                                </p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item"><code>html, css, JavaScript</code></li>
                                </ul>
                              
                              <div class="card-body">
                                <!--<a href="http://paulaleinonen.herokuapp.com/" class="card-link">Demo</a> -->
                                <a href="https://github.com/pmlein/js-xlsx2ics" class="card-link">Github</a>

                              </div>
                            </div>
                        </div>  
                  </div> 

                  <div class="row equal-height">
                      <div class="col-12 col-md-6">
                            <div class="card cardSet1" style="width: 20rem;">
                              <img class="card-img-top" src="/img/calendars.JPG" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Kalenteritapahtumat Google Kalenteriin</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                <p class="card-text">Standardin ICalendar-tiedoston taphtumat Google Drivessa viedään Googlen 
                                  kalenteriohjelmaan. Ennen vientiä kalenterin vanhat tapahtumat poistetaan.
                                </p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item"><code>Google App Script</code></li>
                                </ul>
                              <div class="card-body">
                                <a href="https://github.com/pmlein/gas-ical-sync" class="card-link">Github</a>
                              </div>
                              </div>

                            </div> 
                          </div>  
                      
            
                        <div class="row equal-height">
                            <div class="col-12 col-md-6">                       
                            <div class="card cardSet1" style="width: 20rem;">
                                <img class="card-img-top" src="/img/Projects.JPG" alt="Resume">
                                <div class="card-body">
                                  <h5 class="card-title">Kotisivu (vanha)</h5>
                                  <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                  <p class="card-text">Vanha kotisivuni on progressiivinen web-sovellus, jossa kerroin osaamisestani ja
                                    projekteistani.
                                  </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><code>React.js, PWA</code></li>
                                  </ul>
                                <div class="card-body">
                                  <a href="http://pwa-resume.herokuapp.com/" class="card-link">Demo</a>
                                  <a href="https://github.com/pmlein/homepage-simple" class="card-link">Github</a>
                                </div>
                              </div>    
                            </div>                      
                        </div>
                    </div>
                  </div>
              </div> 
            </div>
          
   
 
 
 <!--  <div class="alert alert-info text-center" role="alert">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div> -->
  </div> -->
<!-- Footer -->
<% include ../partials/footer.ejs %> 

</body>
</html>
